alembic
appnope
asttokens
certifi
charset-normalizer
click
colorlog
comm
debugpy
decorator
executing
filelock
fsspec
idna
ipykernel
ipython
jedi
Jinja2
joblib
juliacall
juliapkg
jupyter_client
jupyter_core
lightgbm
Mako
MarkupSafe
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
optuna
packaging
pandas
parso
patsy
pexpect
platformdirs
pmlb
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pysr
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
semver
setuptools
six
SQLAlchemy
stack-data
statsmodels
sympy
threadpoolctl
torch
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
